blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
Flask==3.0.3
imageio==2.35.1
itsdangerous==2.2.0
Jinja2==3.1.4
lazy_loader==0.4
MarkupSafe==2.1.5
networkx==3.3
numpy==2.1.1
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pycparser==2.22
pycryptodome==3.20.0
PyWavelets==1.7.0
scikit-image==0.24.0
scipy==1.14.1
tifffile==2024.8.30
Werkzeug==3.0.4
